@import "../utils/variables";
@import "../utils/mixins";

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include tablet {
    display: flex;
    justify-content: flex-start;
  }

  &__street {
    font-style: normal;
    @include text(calc(#{$small-font-size} + 2px), 1.71, getLetterSpacing("l"));
    color: getColor("light");
    text-align: center;
  }

  &__mail,
  &__phone {
    display: flex;
    justify-content: center;
    font-style: normal;
    @include text(calc(#{$small-font-size} + 2px), 1.71, getLetterSpacing("l"));
    text-decoration: none;
    color: getColor("contact-footer");
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    padding-left: 0;
    padding-right: 0;
    gap: 9px;
    &__street {
      text-align: left;
    }
    &__mail,
    &__phone {
      display: flex;
      justify-content: start;
      text-align: left;
      &:hover,
      &:focus {
        color: getColor("hover");
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
