@import "../utils/variables";

.backdrop {
  position: fixed;
  z-index: 1;
  transition-duration: 500ms;
  background-color: getColor("backdrop");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  inset: 0;
}
