@import "../utils/variables";
@import "../utils/mixins";

.button {
  display: flex;
  justify-content: center;
  &--style {
    cursor: pointer;
    padding-top: 10px;
    padding-right: 41px;
    padding-bottom: 10px;
    padding-left: 42px;
    border-radius: 4px;
    border: none;
    font-family: $main-font-family;
    font-weight: getFontWeight("bold");
    @include text($medium-font-size, 1.88, getLetterSpacing("xl"));
    text-align: center;
    color: getColor("light");
    background-color: getColor("hover");
    box-shadow: 0px 4px 4px 0px getColor("shadow-button");
  }
}
