@import "../utils/variables";
@import "../utils/mixins";

.contact {
  display: none;

  @include tablet {
    margin-left: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-left: 345px;
  }

  &__link {
    @include tablet {
      font-weight: getFontWeight("accent");
      color: getColor("primary");
      text-decoration: none;
      @include text($small-font-size, 1.17, getLetterSpacing("m"));
      &:hover,
      &:focus {
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        color: getColor("hover");
      }
    }

    @include desktop {
      display: flex;
      align-items: center;
      @include text(
        calc(#{$small-font-size} + 2px),
        1.14,
        getLetterSpacing("m")
      );
    }
  }

  &__icon-envelope {
    @include tablet {
      margin-right: 8px;
      width: 14px;
      height: 10px;
      --color5: currentColor;
    }

    @include desktop {
      margin-right: 10px;
      --color5: currentColor;
      width: 16px;
      height: 12px;
    }
  }

  &__icon-smartphone {
    @include tablet {
      margin-right: 8px;
      width: 10px;
      height: 14px;
      --color5: currentColor;
    }

    @include desktop {
      margin-right: 10px;
      --color5: currentColor;
      width: 10px;
      height: 16px;
    }
  }
}
