@import "../utils/variables";
@import "../utils/mixins";

.footer {
  background-color: getColor("dark-background");

  &--position {
    @include padding(60px, 60px);
    position: relative;
  }

  &--box1 {
    @include tablet {
      display: flex;
      flex-direction: column;
      padding-left: 61px;
      width: 42.5%;
    }

    @include desktop {
      padding-left: 0;
      width: 25%;
    }
  }
}
