@import "../utils/variables";

.form-footer {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 78px;
  display: flex;
  &__heading {
    margin-bottom: 20px;
    font-weight: getFontWeight("bold");
    font-size: calc(#{$small-font-size} + 2px);
    line-height: 1.14;
    letter-spacing: getLetterSpacing("l");
    text-transform: uppercase;
    color: getColor("light");
  }
  &__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    border-radius: 4px;
    border: 1px solid getColor("border-input-footer");
    box-shadow: 0px 4px 4px getColor("shadow-button");
    background-color: transparent;
    &::placeholder {
      font-size: $medium-font-size;
      line-height: 1.25;
      letter-spacing: getLetterSpacing("l");
      color: getColor("contact-footer");
    }
  }
  &__button {
    border-radius: 4px;
    border-style: none;
    margin-left: 12px;
    position: relative;
    cursor: pointer;
    padding: 10px 76px 10px 42px;
    font-weight: getFontWeight("bold");
    font-size: $medium-font-size;
    line-height: 1.88;
    text-align: center;
    letter-spacing: getLetterSpacing("xl");
    color: getColor("light");
    background-color: getColor("hover");
    box-shadow: 0px 4px 4px getColor("shadow-button");
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 148px;
  }
}
