@import "../utils/variables";
@import "../utils/mixins";

.form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 12px;
  padding-bottom: 40px;

  &__button {
    border-radius: 4px;
    border-style: none;
    width: 200px;
    margin: 30px auto 0;
    padding: 10px 76px;
    cursor: pointer;
    font-weight: getFontWeight("bold");
    @include text($medium-font-size, 1.88, getLetterSpacing("xl"));
    text-align: center;
    color: getColor("light");
    background-color: getColor("hover");
    box-shadow: 0px 4px 4px getColor("shadow-button");
  }
}
