@import "../utils/variables";
@import "../utils/mixins";

.main-heading {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  &--style {
    font-weight: getFontWeight("extra-bold");
    @include text(
      calc(#{$heading-font-size} - 10px),
      1.61,
      getLetterSpacing("xl")
    );
    text-align: center;
    text-transform: uppercase;
    color: getColor("light");

    @include desktop {
      @include text(
        calc(#{$heading-font-size} + 8px),
        1.36,
        getLetterSpacing("xl")
      );
    }
  }
}
.heading {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 50px;
  }

  &--style {
    @include text(
      calc(#{$heading-font-size} - 8px),
      1.18,
      getLetterSpacing("l")
    );
    text-align: center;

    @include desktop {
      @include text($heading-font-size, 1.17, getLetterSpacing("l"));
    }
  }
}
