@import "../utils/variables";
@import "../utils/mixins";

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    @include tablet {
      max-width: calc(100% / 2 - 2 * 15px);
      min-width: 354px;
    }

    @include desktop {
      max-width: calc(100% / 4 - 2 * 15px);
      min-width: 270px;
    }
  }

  &__icon-background {
    width: 100%;
    height: 120px;
    background-color: getColor("light-background");
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    @include text(calc(#{$small-font-size} + 2px), 1.14, getLetterSpacing("l"));
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;

    @include tablet {
      text-align: left;
    }
  }

  &__description {
    @include text(calc(#{$small-font-size} + 2px), 1.71, getLetterSpacing("l"));
    color: getColor("primary");
  }

  &--height {
    @include desktop {
      height: 294px;
    }
  }

  &__img {
    @include desktop {
      position: relative;
    }
  }

  &__overlay {
    @include desktop {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 27px;
      padding-bottom: 27px;
      background-color: getColor("overlay-background");
    }
  }

  &__label {
    @include desktop {
      font-weight: getFontWeight("bold");
      @include text(
        calc(#{$small-font-size} + 2px),
        1.14,
        getLetterSpacing("l")
      );
      text-align: center;
      text-transform: uppercase;
      color: getColor("light");
    }
  }

  &__figure {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px getColor("first-shadow"),
      0px 1px 1px getColor("second-shadow"), 0px 2px 1px getColor("backdrop");
    background-color: getColor("light");
  }

  &__figcaption {
    display: flex;
    flex-direction: column;
    @include padding(30px, 36px);

    @include desktop {
      @include padding(30px, 30px);
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: getFontWeight("accent");
    @include text($medium-font-size, 1.19, getLetterSpacing("l"));
    text-align: center;
  }

  &__position {
    margin-bottom: 28px;
    @include text($medium-font-size, 1.19, getLetterSpacing("l"));
    text-align: center;
    color: getColor("primary");

    @include desktop {
      margin-bottom: 16px;
    }
  }

  &__links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 34px;

    @include desktop {
      gap: 10px;
    }
  }

  &__social-links {
    @include desktop {
      border-radius: 50%;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: getColor("links");
      &:hover,
      &:focus {
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        background-color: getColor("hover");
        color: getColor("light");
      }
    }
  }

  &__icon {
    @include desktop {
      --color1: currentColor;
    }
  }

  &--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    border-radius: 4px;
    border: 1px solid getColor("links");
    color: getColor("links");
    padding: 16px 52px;
    max-width: calc(100% / 2 - 2 * 15px);
    min-width: 210px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: getColor("hover");
      border: 1px solid getColor("hover");
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @include tablet {
      max-width: calc(100% / 3 - 2 * 15px);
      min-width: 226px;
      padding: 16px 60px;
    }

    @include desktop {
      max-width: calc(100% / 3 - 2 * 15px);
      min-width: 170px;
      padding: 16px 32px;
    }
  }

  &__icon-client {
    --color1: currentColor;
    width: 106px;
    height: 60px;
    &--color {
      --color2: currentColor;
    }
  }
}
