@import "../utils/variables";
@import "../utils/mixins";

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  &__hover,
  &__focus {
    fill: getColor("hover");
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__open {
    display: flex;
    align-items: center;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: 83px;
  padding-left: 40px;
  @include padding(48px, 48px);
  background-color: getColor("light");
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  &__link {
    display: block;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: getFontWeight("accent");
    @include text(
      calc(#{$large-font-size} + 20px),
      1.17,
      getLetterSpacing("m")
    );
    color: inherit;
    &--active {
      color: getColor("hover");
    }
  }
}
.mobile-menu-contact {
  list-style: none;
  &__tel {
    display: block;
    font-weight: getFontWeight("accent");
    @include text(
      calc(#{$large-font-size} + 14px),
      1.18,
      getLetterSpacing("m")
    );
    color: getColor ("primary");
    text-decoration: none;
    margin-bottom: 32px;
  }
  &__mail {
    font-weight: getFontWeight("accent");
    @include text(calc(#{$large-font-size} + 4px), 1.17, getLetterSpacing("m"));
    color: getColor("primary");
    text-decoration: none;
  }
}
.mobile-menu-social {
  list-style: none;
  display: flex;
  margin-top: 64px;
  &__link {
    font-weight: getFontWeight("accent");
    @include text(
      calc(#{$medium-font-size} + 2px),
      1.22,
      getLetterSpacing("m")
    );
    color: getColor("hover");
    text-decoration: none;
    border-right: 1px solid getColor("mobile-menu-line");
    padding-right: 10px;
    margin-right: 10px;
    &--last {
      border: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
