@import "../utils/variables";

.social-links {
  padding-top: 72px;
  padding-bottom: 100px;
  margin-left: 70px;
  &__heading {
    margin-bottom: 20px;
    font-weight: getFontWeight("bold");
    font-size: calc(#{$small-font-size} + 2px);
    line-height: 1.14;
    letter-spacing: getLetterSpacing("l");
    text-transform: uppercase;
    color: getColor("light");
  }
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__background {
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: getColor("background-social-links");
    color: getColor("light");
    &:hover,
    &:focus {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      background-color: getColor("hover");
      color: getColor("light");
    }
  }
  &__icon {
    --color1: currentColor;
  }
}
