@import "../utils/variables";
@import "../utils/mixins";

.social-links {
  margin-top: 60px;
  margin-bottom: 60px;

  @include tablet {
    position: absolute;
    right: 74px;
    top: 5px;
  }

  @include desktop {
    top: 12px;
    right: 54%;
  }

  &__heading {
    margin-bottom: 20px;
    font-weight: getFontWeight("bold");
    @include text(calc(#{$small-font-size} + 2px), 1.14, getLetterSpacing("l"));
    text-transform: uppercase;
    color: getColor("light");
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__background {
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: getColor("background-social-links");
    color: getColor("light");
    cursor: pointer;
    &:hover,
    &:focus {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      background-color: getColor("hover");
      color: getColor("light");
    }
  }

  &__icon {
    --color1: currentColor;
  }
}
